footer{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #009090;
    align-items: center;
    color: white;
    row-gap: 5rem;
}
.footer-header{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.footer-header>h1{
    font-size: 2rem;
    text-align: center;
}
.footer-header>p{
    font-size: 1.4rem;
    text-align: center;

}
.subscription-form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.subscription-form>input,.subscription-form>button{
    padding: 1.4rem;
    border-radius: 1rem;
    border: none;
}

.subscription-form>input{
    outline: none;
}
.subscription-form>button:hover{

    cursor: pointer;
    background-color: white;
}

.footer-icons{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
}
.social-media-icons>img:hover{
    cursor: pointer;
}
