
@media (max-width:50rem) {
    .categories-content{
        flex-direction: column ;
        align-items: center;
    }
    
    .poses-content{
        flex-wrap:  wrap !important;
    }
    h1,h2{
        font-size: 1rem;
    }
    .nav-bar{
        justify-content:space-around;

    }
    .nav-bar>svg{
        display:inline-block;
    }
    .nav-bar>ul{
        display: none;
    }
    .nav-bar>img{
        display: none;
    }
    .header-offers{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 2rem;
        width: 50%;
        margin: 0 auto;
    }
}
@media (max-width:55rem){
    .yoga-teachers{
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
        
    }
    .yoga-teacher{
        width: 90%;
        
    }
}

@media (max-width:40rem){
    .pose{
        width: 80%;
    }
    .category>img{
        width: 20%;
    }
    .footer-icons{
        flex-direction: column;
        align-items: center;
        width: 20%;
        row-gap: 2rem;
    }
    
}
@media (max-width:38rem){
    .category{
        width: 70%;
        font-size:medium;
    }
    .category>img{
        width: 80%;
    }
    
}

@media (max-width: 37.5rem){
    .modal{
        width: 50%;
    }
    .modal>img:first-of-type{
        display: none;
    }
}